<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProgressBand.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProgressBand.App>
            <setting name="HTTP_USER_NAME" serializeAs="String">
                <value>GLOBAL\SG0893950</value>
            </setting>
            <setting name="HTTP_USER_PASSWORD" serializeAs="String">
                <value>gpola1234</value>
            </setting>
            <setting name="PROXY_SERVER" serializeAs="String">
                <value>www-ad-proxy.sabre.com</value>
            </setting>
            <setting name="PROXY_PORT" serializeAs="String">
                <value>80</value>
            </setting>
        </ProgressBand.App>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
